<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Hello my name is atharva bhavsar and iam a webdeveloper!
  This webapp is backed by the mongo db database and express in the backend 
  I have recreated this webbapp from scratch by following Angela Yu!
</p>

<%- include("footer") -%>
